/* Set up Dosis for old browsers, only regular + bold */
@font-face {
    font-family: 'Dosis';
    src: url('../../assets/Dosis/static/Dosis-Regular.ttf');
    font-weight: normal;
}
  
@font-face {
    font-family: 'Dosis';
    src: url('../../assets/Dosis/static/Dosis-Bold.ttf');
    font-weight: bold;
}
  
/* Set up Dosis for modern browsers, all weights */
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Dosis';
        src: url('../../assets/Dosis/Dosis-VariableFont_wght.ttf') format('ttf supports variations'),
            url('../../assets/Dosis/Dosis-VariableFont_wght.ttf') format('ttf-variations');
        font-weight: 100 200 300 400 500 600 700 800;
    }
}