body {
    background: white;
    min-height: 100vh;
}

body > * > * {
    margin: 0 auto;
    width: 95%;
    max-width: 968px;
}

body > header > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

header img {
    background: lightblue;
    border: 1px solid white;
    box-shadow: 0 0 4px 3px lightgrey, 0 0 0px 5px white, 0 0 0px 6px lightgrey;
    border-radius: 50%;
    height: auto;
    margin-right: 1rem;
    max-width: 80px;
    padding: 5px;
}

@media screen and (min-width: 640px) {
    body > header > * {
        align-items: center;
        justify-content: center;
    }
    
    header img {
        max-width: unset;
    }

    @supports(display: grid) {
        body > header {
            padding-top: 1rem;
        }

        body > header > * {
            display:grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
        }
    }
}
    
body > main > *:not(:last-child) {
    border-bottom: 1px solid gray;
}

body > footer > *:first-child {
    border-top: 1px solid lightblue;
    padding: 2rem 0 5rem;
}

@supports(display: grid) {
    body {
        display: grid;
        grid-template-rows: auto auto 1fr;
    }
    
    body > footer {
        background: #cbcbcb;
    }

    body > footer > *:first-child {
        border-top: none;
    }
}
