body {
    background: white;
    min-height: 100vh;
}

body > * > * {
    margin: 0 auto;
    width: 95%;
    max-width: 968px;
}

body > header {
    border-top: 5px solid var(--bg-trim-footer);
    padding-top: 2rem;
}

body > header > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > header h1 {
    text-align: center;
}

body > header p {
    text-align: center;
}

header img {
    background: lightblue;
    border: 1px solid white;
    box-shadow: 0 0 4px 3px lightgrey,
                0 0 0px 5px white, 
                0 0 0px 6px lightgrey;
    border-radius: 50%;
    height: auto;
    margin-right: 1rem;
    max-width: 80px;
    width: 100%;
    padding: 5px;
}

body > main > * > h3 {
    text-align: center;
}

@media screen and (min-width: 640px) {
    body > header > * {  
        flex-direction: row;
        justify-content: space-between;
    }
    
    body > header img {
        max-width: 120px;
    }

    body > main > * > h3 {
        text-align: left;
    }

    @supports(display: grid) {
        body > header > * {
            display:grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
        }
    }
}
    
body > main > *:not(:last-child) {
    border-bottom: 1px solid var(--color-separator);
}

body > main {
    padding-bottom: 2rem;
}

body > footer > *:first-child {
    border-top: 1px solid var(--color-separator);
    padding: 2rem 0 5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.icon {
    display: inline-block;
    height: auto;
    width: 32px;
}

body > footer nav ul {
    display: flex;
    align-items: center;
}

body > footer nav ul li:not(:last-child) {
    margin-right: 1rem;
}

@supports(display: grid) {
    body {
        display: grid;
        grid-template-rows: auto auto 1fr;
    }
    
    body > footer {
        background: var(--bg-trim-footer);
    }

    body > footer > *:first-child {
        border-top: none;
    }
}
