<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <% const meta_data = require('./data/meta/index.json') %>
        <meta name="description" content="<%= meta_data.meta.description %>">
        <title>Thomas Nicolosi | Web Developer | Resume</title>
        <% const favicon = require('../assets/favicon.ico') %>
        <link rel="icon" href="<%= favicon %>">
    </head>
    <body>
        <header>
            <div>
                <%const img = require('../assets/tom-nicolosi.png') %>
                <img width="120" src="<%= img %>" alt="Tom Nicolosi, Web Developer">
                <div>
                    <h1>Thomas Nicolosi (<em>Tom</em>)</h1>
                    <p>Web Developer/Software Engineer</p>
                </div>
            </div>
        </header>
        <main>
            <aside>
                <% const { education, experience, summary } = require('./get_data.js') %>
                <%= summary %>
            </aside>
            <section>
                <h2>Applicable Experience</h2>
                <% experience.forEach(file => { %>
                    <article>
                        <%= file %>
                    </article>
                <% }) %>
            </section>
            <aside>
                <%= education %>
            </aside>
        </main>
        <footer>
            <div>
                <nav>
                    <ul>
                        <li>
                            <a href="https://github.com/teeehn/" title="Tom Nicolosi on Github">
                                <% const icon_github = require('../assets/GitHub-Mark-Light-32px.png') %>
                                <img class=icon alt="" src="<%= icon_github %>">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/thomasnicolosi/" title="Tom Nicolosi on LinkedIn">
                                <% const icon_li = require('../assets/LI-In-Bug-32.png') %>
                                <img class=icon alt="" src="<%= icon_li %>">
                            </a>
                        </li>
                        <li>
                            <a href="https://tomnicolosi.com/" title="Tom Nicolosi's blog">
                                <% const icon_tn_blog = require('../assets/Tom-Nicolosi-TN-solid-bg.png') %>
                                <img class=icon alt="" src="<%= icon_tn_blog %>">
                            </a>
                        </li>
                    </ul>
                </nav>

                <address>
                    22976 Luciana<br>
                    Mission Viejo, CA 92691<br>
                    <a href="tel:9492353292">(949) 235-3292</a><br>
                    <a href="mailto:thomas.nicolosi@gmail.com">thomas.nicolosi@gmail.com</a>
                </address>
            </div>
        </footer>
    </body>
</html>