<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thomas Nicolosi | Web Developer | Resume</title>
    </head>
    <body>
        <header>
            <div>
                <%const img = require('../assets/tom-nicolosi.png') %>
                <img width="120" src="<%= img %>" alt="Tom Nicolosi, Web Developer">
                <div>
                    <h1>Thomas Nicolosi (<em>Tom</em>)</h1>
                    <p>Web Developer/Software Engineer</p>
                </div>
            </div>
        </header>
        <main>
            <% const { education, experience, summary } = require('./get_data.js') %>
            <aside>
                <%= summary %>
            </aside>
            <section>
                <h3>Applicable Experience</h3>
                <% experience.forEach(file => { %>
                    <article>
                        <%= file %>
                    </article>
                <% }) %>
            </section>
            <aside>
                <%= education %>
            </aside>
        </main>
        <footer>
            <div>     
                <address>
                    22976 Luciana<br>
                    Mission Viejo, CA 92691<br>
                    <a href="tel:9492353292">(949) 235-3292</a><br>
                    <a href="mailto:thomas.nicolosi@gmail.com">thomas.nicolosi@gmail.com</a>
                </address>
            </div>
        </footer>
    </body>
</html>